.update-btn {
    font-size: medium;
    font-weight: bold;
    padding: 8px;
    width: 100px;
    border: 3px solid black;
    border-radius: 8px;
    background-color: #f7f7ed;
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: 0.2s;
}

.update-btn:hover {
    background-color: #F7B801;
    color: #f7f7ed;
  }
  