.balance-chart {
  margin: 20px 25% 0 25%;
}

@media only screen and (max-width: 1060px) {
  .balance-chart {
    margin: 20px 20% 5% 20%;
  }
}

@media only screen and (max-width: 900px) {
  .balance-chart {
    margin: 20px 10% 5% 10%;
  }
}

@media only screen and (max-width: 580px) {
  .balance-chart {
    margin: 20px 0 10% 0;
  }
}
