.add-user-form {
  margin-bottom: 80px;
}

.add-user-form input {
  background-color: var(--off-white);
  border: var(--border-black);
  border-radius: 8px;
  padding: 10px;
  max-width: 350px;
  width: 100%;
}

.add-user-form input:focus {
  outline: none;
}
