.add-user-form {
  display: flex;
  margin-bottom: 80px;
  gap: 20px;
}

.add-user-form input {
  background-color: var(--off-white);
  border: 3px solid black;
  border-radius: 8px;
  padding: 10px;
  max-width: 350px;
  width: 100%;
}

.add-user-form input:focus {
  outline: none;
}
