.expense-list,
.expense-list table {
  width: 100%;
}

.expense-list table {
  border-spacing: 0;
}

.item {
  border-bottom: var(--border-black);
  margin-bottom: 10px;
}

tr {
  display: block;
  margin-bottom: 50px;
}

.btn-actions {
  justify-content: right;
}

.line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
