<div class="expense-list">
  <app-add-expense (expenseAdded)="onExpenseAdded()"></app-add-expense>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Amount</th>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses">
        <td>{{ expense.id }}</td>
        <td>{{ expense.description }}</td>
        <td>{{ expense.amount }}</td>
        <td>{{ expense.userName }}</td>
        <td>{{ expense.expenseDate }}</td>
      </tr>
    </tbody>
  </table>
</div>
