<div class="expense-list">
  <app-add-expense (expenseAdded)="onExpenseAdded()"></app-add-expense>

  <table>
    <tbody>
      <tr *ngFor="let expense of expenses">
        <td>{{ expense.description }}</td>
        <td>{{ expense.amount }}</td>
        <td>{{ expense.userName }}</td>
        <td>{{ expense.expenseDate }}</td>
        <td class="btn-handle-expense">
          <app-update-expense></app-update-expense>
          <app-delete-expense class="btn"
          [expenseId]="expense.id"
          (expenseDeleted)="onExpenseDeleted()"></app-delete-expense>
        </td>
      </tr>
    </tbody>
  </table>
</div>
