<div class="expense-list">
  <app-add-expense (expenseAdded)="onExpenseAdded()"></app-add-expense>

  <table>
    <tbody>
      <tr *ngFor="let expense of expenses">
        <div class="item">
          <div class="line">
            <td>{{ expense.description }}</td>
            <td>{{ expense.amount }}<span> €</span></td>
          </div>
          <div class="line">
            <td><span>By: </span> {{ expense.userName }}</td>
            <td>{{ expense.expenseDate }}</td>
          </div>
        </div>

        <td class="btn-handle-expense">
          <app-update-expense
            [expense]="expense"
            (expenseUpdated)="onExpenseUpdated()"
          ></app-update-expense>
          <app-delete-expense
            class="btn"
            [expenseId]="expense.id"
            (expenseDeleted)="onExpenseDeleted()"
          ></app-delete-expense>
        </td>
      </tr>
    </tbody>
  </table>
</div>
