header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--light-purple);
    position: fixed;
    width: 100%;
    overflow: hidden;
    z-index: 8;
  }
  
  header img {
    height: 60px;
    margin: auto;
    display: block;
  }
  