<div class="dialog">
  <div mat-dialog-content class="update-expense-form" [formGroup]="updateForm">
      <input
        id="description"
        class="dialog-input"
        formControlName="description"
        type="text"
        placeholder="Description"
        name="description"
      />
      <div class="amount-user">
        <div class="amount">
          <input
            id="amount"
            class="dialog-input"
            formControlName="amount"
            placeholder="Amount"
            type="number"
          />
          <span>€</span>
        </div>

        <select id="user_id" class="dialog-input" formControlName="user_id">
          <option [value]="null" disabled selected>User</option>
          <option *ngFor="let user of users" [value]="user.id">
            {{ user.name }}
          </option>
        </select>
      </div>
  </div>
  <div class="btn-actions" mat-dialog-actions>
    <button class="medium-btn btn-yellow" (click)="onNoClick()">Cancel</button>
    <button class="medium-btn btn-dark-purple" (click)="onConfirmClick()">Save</button>
  </div>
</div>
