.update-dialog {
  padding: 40px;
  border-radius: 20px;
  border: 3px solid black;
  background-color: var(--off-white);
  display: grid;
  gap: 40px;
  justify-items: center;
}

.update-expense-form input,
.update-expense-form select {
  background-color: var(--off-white);
  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;
  border: 3px solid black;
  border-radius: 8px;
  width: 100%;
}

.update-expense-form input:focus,
.update-expense-form select:focus {
  outline: none;
}

.amount-user {
  display: flex;
  gap: 20px;
}

.amount {
  position: relative;
  width: 50%;
}

.amount span {
  position: absolute;
  right: 30px;
  top: 13px;
  border-left: 3px solid black;
  padding: 10px 0 10px 20px;
  font-weight: bold;
}

.update-expense-form select {
  width: 50%;
}

.btn-actions {
  display: flex;
  gap: 20px;
  justify-content: center;
}
