.update-expense-form input,
.update-expense-form select {
  width: 100%;
}

.amount-user {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.amount {
  position: relative;
  width: 50%;
}

.amount span {
  position: absolute;
  right: 30px;
  top: 3px;
  border-left: var(--border-black);
  padding: 10px 0 10px 20px;
  font-weight: bold;
}

.update-expense-form select {
  width: 50%;
}

