<div class="main-container" id="main-container">
  <div class="custom-container">
    <div class="custom-container__header">
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
      <span class="circle"></span>
    </div>

    <div class="content">
      <div class="menu">
        <app-button [class]="'menu__button button--long button--orange button--orange--focus'" [routerLink]="'/user'">User</app-button>
        <app-button [class]="'menu__button button--long button--light-purple button--light-purple--focus'" [routerLink]="'/expense'">Expense</app-button>
        <app-button [class]="'menu__button button--long button--yellow button--yellow--focus'" [routerLink]="'/balance'">Balance</app-button>
      </div>

      <div class="data-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
