<div class="main-container">
  <div class="custom-container">
    <div class="header-bar">
      <span class="header-bar__circle"></span>
      <span class="header-bar__circle"></span>
      <span class="header-bar__circle"></span>
      <span class="header-bar__circle"></span>
      <span class="header-bar__circle"></span>
      <span class="header-bar__circle"></span>
      <span class="header-bar__circle"></span>
      <span class="header-bar__circle"></span>
      <span class="header-bar__circle"></span>
    </div>

    <div class="content">
      <div class="menu">
        <button class="button button--long button--orange button--focus-orange" routerLink="/user">User</button>
        <button class="button button--long button--light-purple button--focus-light-purple" routerLink="/expense">Expense</button>
        <button class="button button--long button--yellow button--focus-yellow" routerLink="/balance">Balance</button>
      </div>

      <div class="data-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
