.custom-container {
  display: flex;
  justify-content: center;
  background-color: var(--off-white);
  border: var(--border-black);
  border-radius: 50px;
  position: relative;
  box-shadow: 20px 20px 0px 0px rgba(118, 120, 237, 0.2);
  margin-bottom: 20px;
}

.header-bar {
  height: 80px;
  position: absolute;
  padding-top: 25px;
  text-align: center;
  overflow: hidden;
}

.header-bar .header-bar__circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  margin: 12px 50px;
  background-color: black;
}

.menu {
  display: flex;
  gap: 10px;
}

.data-container {
  padding: 50px 0 80px 0;
}
