<div class="add-expense-form">
  <input
    class="form__description"
    type="text"
    [(ngModel)]="description"
    placeholder="Description"
    name="description"
    required
  />
  <div class="amount-user">
    <div class="amount">
      <input
        class="amount__input"
        type="number"
        [(ngModel)]="amount"
        placeholder="Amount"
        name="amount"
        required
      />
      <span class="amount__span">€</span>
    </div>

    <select [(ngModel)]="userId" name="userId" required>
      <option [ngValue]="null" disabled selected>User</option>
      <option *ngFor="let user of users" [ngValue]="user.id">
        {{ user.name }}
      </option>
    </select>
  </div>
  <div class="main-container__button">
    <app-button [class]="'button--medium button--dark-purple'" (click)="addExpense()">
      Add
    </app-button>
  </div>
</div>
