.custom-dialog {
  padding: 40px;
  border: var(--border-black);
  border-radius: 20px;
}

.delete-dialog, .custom-dialog {
  background-color: var(--off-white);
  display: grid;
  gap: 40px;
  justify-items: center;
}


.text-confirm {
  font-weight: bold;
  font-size: medium;
}
