.custom-dialog {
  padding: 40px;
  border: 3px solid black;
  border-radius: 20px;
}

.delete-dialog, .custom-dialog {
  background-color: var(--off-white);
  display: grid;
  gap: 40px;
  justify-items: center;
}


.text-confirm {
  font-weight: bold;
  font-size: medium;
}

.btn-actions {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn-delete-dialog {
  font-size: medium;
  font-weight: bold;
  padding: 8px;
  width: 100px;
  border: 3px solid black;
  border-radius: 8px;
  background-color: var(--off-white);
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 0.2s;
}

.cancel-btn:hover {
  background-color: var(--yellow);
  color: var(--off-white);
}

.delete-btn:hover {
  background-color: var(--red);
  color: var(--off-white);
}
