<footer class="footer">
  <div class="footer__content">
    <div class="side_column">
      <img
        class="footer-logo"
        src="assets/media/images/noBigBill_logoBlanco.svg"
        alt="NoBigBill logo"
      />
      <p class="bold-text">
        Hope you had a good splitting and your friends paid you back!😄
      </p>
    </div>
    <div class="center_column">
      <div class="icons-container">
        <a
          href="https://www.instagram.com/miamohnart?igsh=MTF4aXJoOXhtaWdvbA=="
          target="_blank"
        >
          <i class="fa-brands fa-instagram"></i>
        </a>

        <a href="https://github.com/MiaMohn" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>

        <a href="https://www.linkedin.com/in/mia-mohn" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>

        <a href="https://www.behance.net/miamohnart" target="_blank">
          <i class="fa-brands fa-behance"></i>
        </a>
      </div>
    </div>
    <div class="side_column authors">
      <p class="bold-text">Made by:</p>
      <img
        class="footer-logo personal-logo"
        src="../../../../assets/media/images/MiaMohn_logo.svg"
        alt="Mia Mohn"
      />
      <hr />
      <img
        class="footer-logo"
        src="../../../../assets/media/images/Autentia_logo.svg"
        alt="Autentia"
      />
    </div>
  </div>
  <div class="license">
    <p xmlns:cc="http://creativecommons.org/ns#" ><a href="https://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;"><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1" alt=""></a></p>
  </div>
</footer>
