<div class="footer">
  <div class="side_column">
    <img
      class="footer-logo"
      src="assets/media/images/noBigBill_logoBlanco.png"
      alt="NoBigBill logo"
    />
    <p class="text">
      Hope you had a good splitting and your friends paid you back!😄
    </p>
  </div>
  <div class="center_column">
    <div class="icons-container">
      <a
        href="https://www.instagram.com/miamohnart?igsh=MTF4aXJoOXhtaWdvbA=="
        target="_blank"
      >
        <i class="fa-brands fa-instagram"></i>
      </a>

      <a href="https://github.com/MiaMohn" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>

      <a href="https://www.linkedin.com/in/mia-mohn" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>

      <a href="https://www.behance.net/miamohnart" target="_blank">
        <i class="fa-brands fa-behance"></i>
      </a>
    </div>
  </div>
  <div class="side_column authors">
    <p class="text">Made by:</p>
    <img
      class="footer-logo personal-logo"
      src="../../../../assets/media/images/MiaMohn_logo.png"
      alt="Mia Mohn"
    />
    <hr />
    <img
      class="footer-logo"
      src="../../../../assets/media/images/Autentia_logo.png"
      alt="Autentia"
    />
  </div>
</div>
