.add-expense-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.add-expense-form input,
.add-expense-form select {
  background-color: var(--off-white);
  margin: 10px 0;
  padding: 10px;
  font-size: var(--medium);
  border: var(--border-black);
  border-radius: 8px;
}

.add-expense-form input:focus,
.add-expense-form select:focus {
  outline: none;
}

.amount-user {
  display: flex;
  gap: 20px;
}

.amount {
  position: relative;
  width: 50%;
}

.amount span {
  position: absolute;
  right: 50px;
  top: 13px;
  border-left: var(--border-black);
  padding: 10px 0 10px 40px;
  font-weight: bold;
}

.add-expense-form select {
  width: 50%;
}

.button-container {
  width: 100%;
  height: auto;
  text-align: center;
}
