/* You can add global styles to this file, and also import other style files */
:root {
  --off-white: #f7f7ed;
  --purple: #5050c8;
  --dark-purple: #3d348b;
  --light-purple: #7678ed;
  --yellow: #f7b801;
  --orange: #f18701;
  --dark-orange: #f35b04;
  --red: #f32104;
  --border-black: 3px solid black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  overflow-x: hidden;
}

body {
  background-image: url("assets/media/images/background.jpg");
  background-size: cover;
  width: 100%;
  overflow: hidden;
  cursor: url("assets/media/images/mouse.png"), auto !important;
}

.main-container {
  padding: 150px 100px 0 100px;
}

.long-btn {
  font-size: medium;
  font-weight: bold;
  padding: 8px;
  width: 150px;
  border: var(--border-black);
  border-radius: 8px;
  background-color: var(--off-white);

  transition-property: color, background-color;
  transition-duration: 0.2s;
}

.medium-btn {
  font-size: medium;
  font-weight: bold;
  padding: 8px;
  width: 100px;
  border: var(--border-black);
  border-radius: 8px;
  background-color: var(--off-white);
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 0.2s;
}

.btn-dark-purple:hover{
  background-color: var(--dark-purple);
  color: var(--off-white);
}

.btn-orange:hover {
  background-color: var(--orange);
  color: var(--off-white);
}

.btn-light-purple:hover {
  background-color: var(--light-purple);
  color: var(--off-white);
}

.btn-yellow:hover {
  background-color: var(--yellow);
  color: var(--off-white);
}

.btn-red:hover {
  background-color: var(--red);
  color: var(--off-white);
}

.focus-btn-orange:focus {
  background-color: var(--orange);
  color: var(--off-white);
}

.focus-btn-light-purple:focus {
  background-color: var(--light-purple);
  color: var(--off-white);
}

.focus-btn-yellow:focus {
  background-color: var(--yellow);
  color: var(--off-white);
}

.cdk-overlay-dark-backdrop {
  background: rgba(61, 52, 139, 0.5);
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: transparent !important;
}

button:hover,
input:hover,
select:hover,
a:hover {
  cursor: url("assets/media/images/mouse-pointer.png"), auto !important;
}
