/*|| Global Variables*/

:root {
  /*Colors*/
  --off-white: #f7f7ed;
  --purple: #5050c8;
  --dark-purple: #3d348b;
  --light-purple: #7678ed;
  --yellow: #f7b801;
  --orange: #f18701;
  --dark-orange: #f35b04;
  --red: #f32104;

  /*Border*/
  --border-black: 3px solid black;

  /*Font size*/
  --medium: 1.13rem;
  --small: 1rem;
  --large: 3rem;
}

/* || General styles */

html {
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

* {
  /* Reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  /* Font */
  font-family: "Source Code Pro", monospace;
  font-size: var(--small);
}

body {
  height: 100%;
  overflow: hidden;

  background-image: url("assets/media/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* Default image for cursor */
  cursor: url("assets/media/images/mouse.svg"), auto !important;
}

input,
select {
  background-color: var(--off-white);
  border: var(--border-black);
  border-radius: 8px;
  padding: 10px;
}

button:hover,
input:hover,
select:hover,
a:hover {
  cursor: url("assets/media/images/mouse-pointer.svg"), auto !important;
}

input:focus,
select:focus {
  outline: none;
}

.bold-text {
  font-weight: bold;
}

/* || Buttons */

.button--long {
  font-weight: bold;
  padding: 0.5rem;
  width: 9.375rem;
  border: var(--border-black);
  border-radius: 0.5rem;
  background-color: var(--off-white);

  transition-property: color, background-color;
  transition-duration: 0.2s;
}

.button--medium {
  font-weight: bold;
  padding: 0.5rem;
  width: 6.25rem;
  border: var(--border-black);
  border-radius: 0.5rem;
  background-color: var(--off-white);
  transition-property: color, background-color;
  transition-duration: 0.2s;
}

.button-actions {
  display: flex;
  gap: 1.25rem;
}

/* Hover */
.button--orange:hover {
  background-color: var(--orange);
  color: var(--off-white);
}

.button--light-purple:hover {
  background-color: var(--light-purple);
  color: var(--off-white);
}

.button--yellow:hover {
  background-color: var(--yellow);
  color: var(--off-white);
}

.button--dark-purple:hover {
  background-color: var(--dark-purple);
  color: var(--off-white);
}

.button--red:hover {
  background-color: var(--red);
  color: var(--off-white);
}

/* Focus */
.button--focus--orange:focus {
  background-color: var(--orange);
  color: var(--off-white);
}

.button--focus--light-purple:focus {
  background-color: var(--light-purple);
  color: var(--off-white);
}

.button--focus--yellow:focus {
  background-color: var(--yellow);
  color: var(--off-white);
}

/* || Dialog */

.cdk-overlay-dark-backdrop {
  background: rgba(61, 52, 139, 0.5);
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: transparent !important;
}

.dialog {
  padding: 2.5rem;
  border-radius: 1.25rem;
  border: var(--border-black);
  background-color: var(--off-white);
  display: grid;
  gap: 2.5rem;
}

.dialog__form__input {
  background-color: var(--off-white);
  border: var(--border-black);
  border-radius: 0.5rem;
  padding: 0.5rem;
}


/* Responsive adjustments */
@media (max-width: 900px) {
  .button--long,
  .button--medium {
    padding: 0.65rem;
  }

  .button-actions {
    gap: 0.65rem;
  }
}
