.hero-container {
  display: flex;
  padding-bottom: 20px;
  gap: 40px;
}

/*Window format container*/
.custom-container {
  width: 50%;
  background-color: var(--off-white);
  border: var(--border-black);
  border-radius: 50px;
  box-shadow: 20px 20px 0px 0px rgba(118, 120, 237, 0.2);
}

.header-bar {
  background-color: var(--orange);
  border-bottom: var(--border-black);
  padding: 5px 0 0 20px;
  overflow: hidden;
}

.header-bar .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin: 12px 5px;
}

.dark-purple-bg {
  background-color: var(--dark-purple);
}

.purple-bg {
  background-color: var(--purple);
}

.light-purple-bg {
  background-color: var(--light-purple);
}

.footer-bar {
  height: 40px;
  background-color: var(--dark-orange);
  border-top: var(--border-black);
}
/*End*/

.welcome-message {
  padding: 40px;
}

.welcome-message h1 {
  font-size: var(--medium);
  margin-bottom: 20px;
}

.welcome-message p {
  font-size: var(--small);
  line-height: 1.5;
}

.hero-image-logo {
  width: 50%;
  display: flex;
  align-items: center;
}

.hero-image-logo img {
  max-width: 100%;
  height: auto;
}

.button-container {
  text-align: center;
  margin-top: 80px;
}

@media (max-width: 900px) {

  .hero-container {
    flex-direction: column;
    align-items: center;
  }

  .custom-container {
    order: 2;
    width: 100%;
  }

  .hero-image-logo {
    order: 1;
    width: 80%;
    text-align: center;
  }
}