<div class="user-list">
  <app-add-user (userAdded)="onUserAdded()"></app-add-user>

  <table class="user-list__table">
    <tbody>
      <tr *ngFor="let user of users">
        <div class="item">
          <td class="userName-list">{{ user.name }}</td>
          <td class="button-actions">
            <app-update-user
              [user]="user"
              (userUpdated)="onUserUpdated()"
            ></app-update-user>
            <app-delete-user
              class="btn"
              [userId]="user.id"
              (userDeleted)="onUserDeleted()"
            ></app-delete-user>
          </td>
        </div>
      </tr>
    </tbody>
  </table>
</div>
