.add-user-form {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin: 0 25% 5% 25%;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.add-user-form__input {
  width: 100%
}

.add-user-form__input:focus {
  outline: none;
}

@media only screen and (max-width: 1060px) {
  .add-user-form {
    margin: 0 20% 10% 20%;
  }
}

@media only screen and (max-width: 900px) {
  .add-user-form {
    margin: 0 10% 10% 10%;
  }
}

@media only screen and (max-width: 580px) {
  .add-user-form {
    margin: 0 0 10% 0;
  }
}