<div class="dialog">
  <div mat-dialog-content>
    <form class="dialog__form" [formGroup]="updateForm">
      <span class="dialog__form__span bold-text">New name: </span>
      <input class="dialog__form__input" formControlName="name" placeholder="Update user name" required/>
    </form>
  </div>
  <div class="button-actions" mat-dialog-actions>
    <app-button [class]="'button--medium button--yellow'" (click)="onNoClick()">Cancel</app-button>
    <app-button [class]="'button--medium button--dark-purple'" (click)="onConfirmClick()">Save</app-button>
  </div>
</div>
